html {
    font-size: 10px;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-color: grey;
}

a {
    text-decoration: none;
}

section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 3rem;
}

.wrraperBlock {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 10.5rem;
    margin-bottom: 34.0rem;
    padding: 10rem;
    box-sizing: border-box;
    width: 100%;
}

.firstSection {
    margin-right: 20px;
}

.imgFirstSec {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.imgFirstSec img {
    width: 100%;
}

.contactFirstSec h2,
.techSkillsFirstSec h2,
.languagesFirstSec h2,
.aboutMeSecondSec h2,
.educationSecondSec h2,
.mySkillsSecondSec h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

.contactFirstSec ul {
    list-style: none;
}

.contactFirstSec ul a {
    font-size: 2rem;
    font-weight: 300;
    color: black;
    line-height: 3.2rem;
    position: relative;
}

.contactFirstSec ul li {
    margin-bottom: 2rem;
}

.phone::before {
    content: '';
    background-image: url('/img/Box.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    left: -37px;
    top: 0;
}

.email::before {
    content: '';
    background-image: url('/img/Frame\ 1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 3.2rem;
    height: 3.1rem;
    left: -41px;
    top: -2px;
}

.gitLab::before {
    content: '';
    background-image: url('/img/Frame.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    left: -38px;
    top: 0px;
}

.techSkillsFirstSec,
.languagesFirstSec {
    padding: 0px 20px;
}

.techSkillsFirstSec ul,
.languagesFirstSec ul {
    list-style: disc;
}

.techSkillsFirstSec ul li,
.languagesFirstSec ul li,
.aboutMeSecondSec p,
.educationSecondSec ul li,
.mySkillsSecondSec p,
.mySkillsSecondSec ul li {
    font-size: 2rem;
    font-weight: 300;
    color: black;
    line-height: 3.2rem;
}

.languagesFirstSec span,
.educationSecondSec span {
    font-weight: 500 !important;
}

.infoForMeSecondSec h2 {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 5.2rem;
}

.infoForMeSecondSec p {
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.coutrySecondSec p {
    font-size: 2rem;
    line-height: 3.2rem;
    margin-bottom: 3.8rem;
}

.coutrySecondSec p::before {
    content: '';
    background-image: url('/img/Location.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    transform: translate(-8px, 6px);
}

.imgSecondSec {
    max-width: 50rem;
    width: 100%;
}

.imgSecondSec img {
    width: 100%;
}

.firtsYear,
.secondYear {
    position: relative;
}

.wrraperEducationSec ul li:nth-child(1) {
    margin-bottom: 20px;
}

.firtsYear::after {
    content: '2020 - 2024';
    display: inline-block;
    position: absolute;
    right: 0;
}

.secondYear::after {
    content: '2022';
    display: inline-block;
    position: absolute;
    right: 0;
}

@media (max-width: 1000px) {
    .wrraperBlock {
        display: inline-block;
    }
}

@media (max-width: 650px) {

    .techSkillsFirstSec ul li,
    .languagesFirstSec ul li,
    .aboutMeSecondSec p,
    .educationSecondSec ul li,
    .mySkillsSecondSec p,
    .mySkillsSecondSec ul li {
        font-size: 1.5rem;
    }

    .contactFirstSec h2,
    .techSkillsFirstSec h2,
    .languagesFirstSec h2,
    .aboutMeSecondSec h2,
    .educationSecondSec h2,
    .mySkillsSecondSec h2 {
        font-size: 2rem;
    }

    .infoForMeSecondSec h2{
        font-size: 4rem;
    }

    .infoForMeSecondSec p {
        font-size: 2rem;
    }

    .coutrySecondSec p {
        font-size: 1.5rem;
    } 
    
    .firstSection{
        margin-right: 0;
    }

    .wrraperBlock{
        padding: 3rem;
    }

}

@media (max-width: 420px) {
    section{
        padding: 1.5rem;
    }

    .wrraperBlock {
        padding: 1.5rem;
    }

    .techSkillsFirstSec ul li,
    .languagesFirstSec ul li,
    .aboutMeSecondSec p,
    .educationSecondSec ul li,
    .mySkillsSecondSec p,
    .mySkillsSecondSec ul li {
        font-size: 1.2rem;
    }

    .contactFirstSec h2,
    .techSkillsFirstSec h2,
    .languagesFirstSec h2,
    .aboutMeSecondSec h2,
    .educationSecondSec h2,
    .mySkillsSecondSec h2 {
        font-size: 1.5rem;
    }

    .infoForMeSecondSec h2{
        font-size: 3.7rem;
    }

    .infoForMeSecondSec p {
        font-size: 1.7rem;
    }
}